{% extends "template.html" %} {% load i18n %} {% block title %} - {%
trans 'Password reset' %}{% endblock %} {% block content %} {% if
validlink %}

<h2>{% trans 'Enter new password' %}</h2>
<hr />

<p>{% trans "Please enter your new password twice so we can verify
	you typed it in correctly." %}</p>

<form action="" method="post" class='form-horizontal'>
	{% csrf_token %}
	<fieldset>
		<div class="control-group">
			<label for="id_new_password1" class="control-label">{% trans
				'New password' %}:</label>
			<div class="controls">
				{{ form.new_password1 }}
				<p>{{ form.new_password1.errors }}</p>
			</div>
		</div>
		<div class="control-group">
			<label for="id_new_password2" class="control-label">{% trans
				'Confirm password' %}:</label>
			<div class="controls">
				{{ form.new_password1 }}
				<p>{{ form.new_password1.errors }}</p>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class='btn'
					value="{% trans 'Change my password' %}" />
			</div>
		</div>
	</fieldset>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because
	it has already been used. Please request a new password reset." %}</p>

{% endif %} {% endblock %}
