{% extends "template.html" %}
{% load i18n %}
{% load filters %}
{% block title %} - Add new pattern{% endblock %}

{% block css %} 
<link rel="stylesheet" href="{{ STATIC_URL }}css/add.css" type="text/css">
<style type="text/css">
</style>
<script src="{{ STATIC_URL }}js/add-pattern.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js" type="text/javascript" ></script>
<script type="text/javascript">
var colors = {{ colors|safe }};
var nofstrings = 0;
var limit = 30;
</script>
{% endblock %}


{% block content %}
	{% if user.is_authenticated %}
		<form action="addpattern" method="post" id="addbracelet">
		{% csrf_token %}
		<div class="span2">
			<table>
				<tr><th colspan=2>{% trans "Fill basic pattern information" %}</th></tr>
				<tr>
					<td>{% trans "Name" %}: </td>
					<td><input type="text" name="name" class="tableinput"></td>
				</tr>
				<tr>
					<td>{% trans "Difficulty" %}: </td>
					<td><select class='btn' name="difficulty">
						<option value="1" {% if difficulty == "1" %}selected="selected" {% endif %}>{% trans "Easy" %}</option>
						<option value="2" {% if difficulty == "2" %}selected="selected" {% endif %}>{% trans "Medium" %}</option>
						<option value="3" {% if difficulty == "3" %}selected="selected" {% endif %}>{% trans "Hard" %}</option>
					</select></td>
				</tr>
				<tr>
					<td>{% trans "Category" %}:</td>
					<td><select class='btn' name="category" class="tableinput">
						{% if categories %}
							{% for c in categories %}
								<option {% if category == c.name %}selected="selected" {% endif %}>{{ c.name }}</option>
							{% endfor %}
						{% endif %}
						</select>
					</td>
				</tr>
			</table>
		</div>
	{% else %}
		{% trans "You are not logged in, which means you won't be able to save your work!" %}
		</div>
		<div class='spacer'></div>
		<div class='box'>
	{% endif %}
	<div class="span2 second">
		<table>
		<tr><th colspan=2>{% trans "Fast generating empty template" %}</th></tr>
		<tr><td><label for="generate-form-rows">{%trans 'Row' %}:</label></td><td><input id="generate-form-rows" name="rows" type="text" /></td></tr>
		<tr><td><label for="generate-form-columns">{%trans 'Columns' %}:</label></td><td><input id="generate-form-columns" name="columns" type="text" /></td></tr>
		<tr><td><label for="generate-form-knots">{%trans 'Knot types' %}:</label></td>
					<td><select class='btn' id="generate-form-knots" name="knots">
						<option value="1">{% trans 'All forward' %}</option>
						<option value="2">{% trans 'All backward' %}</option>
						<option value="3">{% trans 'All forward-backward' %}</option>
						<option value="4">{% trans 'All backward-forward' %}</option>
						<option value="5">{% trans 'Forward-backward and backward-forward' %}</option>
					</select></td></tr>
		</table>
		<button class='btn btn-primary'>Generate template</button>
	</div>
	<div id="floating-top" class="form-actions">
		{% trans "Set color of strings (use buttons below to add and remove strings)" %}: <br />
		<div id="colorsInput"></div>
	    
	    <div class="btn-group">
		  	<button  onClick="addKnotColumnButton('colorsInput');" class="btn">{% trans "Add string" %}</button><button class="btn dropdown-toggle" data-toggle="dropdown">
		    	22 <span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu">
		    	<li>q</li>
		    	<li>e</li>
		    	<li>x</li>
		    	<li>a</li>
		  	</ul>
	    </div>
	    <input class='btn' type="button" value='{% trans "Remove string" %}' onClick="removeInput();">
	    
	    <div id="pattern-thumb"></div>
    </div>
    <div id="pattern-container">
    	<div id="pattern-canvas"></div>
    	<div id="pattern-designer"></div>
    </div>
    
    <div class="btn-group">
	  	<button onClick="addRow();" class="btn">{% trans "Add row" %}</button><button class="btn dropdown-toggle" data-toggle="dropdown">
	    	22 <span class="caret"></span>
	  	</button>
	  	<ul class="dropdown-menu">
	    	<li>q</li>
	    	<li>e</li>
	    	<li>x</li>
	    	<li>a</li>
	  	</ul>
	</div>
    <input class='btn' type="button" value='{% trans "Remove row" %}' onClick="removeRow();"><br />
	<textarea id="pattern-string" rows="20" cols="100" hidden="hidden" name="pattern"></textarea>
{% if user.is_authenticated %}
	<input class='btn' type="submit" value='{% trans "Add pattern" %}'>
</form>
{% endif %}
{% endblock %}
