{% extends "bracelet/template.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bracelet.css" type="text/css">
<style type="text/css">
{{ style }}
</style>
{% endblock %}

{% block content %}
{{ name }}
<div id="pattern">

</div>
<script type="text/javascript">
<!--
var knotsColor = {{ knotsColor }};
var knotsType = {{ knotsType }};
for (var i=0; i<{{nofstr}};i++) {
	var cl = "oddstring";
	if(i%2==0) {
		cl = "evenstring";
	}
	$('<span class="str'+i+' '+cl+'">&nbsp;</span>').appendTo('#pattern');
}
$('<br />').appendTo('#pattern');
for (var i=0; i<{{nofrows}}-1;i++) {
	var cl = "odd";
	if(i%2==0) {
		cl = "even";
	}
	$('<div id="row'+i+'" class="'+cl+'" />').appendTo('#pattern');
	for(var j=0; j<knotsType[i].length; j++) {
		$('<span class="str'+knotsColor[i][j]+' knot knot'+knotsType[i][j]+'"></span>').appendTo('#row'+i);
	}
}
//-->
</script>
{% endblock %}
