{% extends "template.html" %}
{% load i18n %}
{% load comments %}

{% block title %}
- {% trans "Bracelet" %} {{ name }}
{% endblock %}

{% block css %}
<script src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL }}js/jquery.lightbox-0.5.pack.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL }}js/bracelet.js" type="text/javascript" ></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bracelet.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.lightbox-0.5.css" type="text/css">
<style type="text/css">
{{ style }}
</style>
<script>
	{% if selectTabs %}
		$(function() {
			$( "#tabs" ).tabs("select", {{ selectTabs }});
		});
	{% endif %}
	var errorText = '{% trans "Could not load this tab. Try reload page if problem will still exist - let me know." %}'
	var knotsColor = {{ knotsColor }};
	var knotsType = {{ knotsType }};
	var texts = {{ texts|safe }};
	var lastKnotRow = 0;
	var lastKnotCol = 0;
	var sequence = 0;
	var rate = 0;
	var nofstr = {{nofstr}};
	var nofrows = {{nofrows}};
	var bracelet_id = {{ bracelet_id }};
	var strings = {{ strings }};
	var ifwhite = {{ ifwhite|safe }};
	var STATIC_URL = {{ STATIC_URL }};
	{% if rate %}
		rate = {{ rate }};
	{% endif %}
</script>
<meta property="og:title" content="Ohiboka Patterns - {% trans 'Bracelet' %} {{ name }} {% trans 'by' %} {{ bracelet.user.username }}" />
<meta property="og:description" content="{% trans 'Bracelet' %} {{ name }} {% trans 'created by'%} {{ bracelet.user.username }}" />
<meta property="og:image" content="{{ STATIC_URL }}bracelet_thumbs/{{ photo }}" />
<meta property="og:type" content="website" />
{% endblock %}

{% block content %}
{% get_comment_count for bracelet.bracelet bracelet_id as comment_count %}
<div id="tabs">
	<div id="tabs-name">
		<h2>{{ name }}</h2>
		
		<ul>
			<li><a href="#tabs-1">{% trans "Pattern" %}</a></li>
			<li><a href="#tabs-2">{% trans "Step by step instructions" %}</a></li>
			<li><a href="/comments/{{bracelet_id}}">{% trans "Comments" %} ({{ comment_count }})</a></li>
			<li><a href="/bracelet/photos/{{bracelet_id}}">{% trans "Photos" %} ({{ nofphotos }})</a></li>
		</ul>

	</div>
	<hr />
	<div id="tabs-1">
		<div id="pattern-container">
			<div id="pattern-thumb"></div>
			<div class="pattern-box">
				<div id="pattern-canvas"></div>
				<div id="pattern"></div>
			</div>
		</div>
		<div id="bracelet-extras">
			<div id="ratepattern">
				{% if user.is_authenticated %}
					{% trans "rate pattern" %}: 
					<i class="icon-star" id="rate1">&nbsp;</i>
					<i class="icon-star" id="rate2">&nbsp;</i>
					<i class="icon-star" id="rate3">&nbsp;</i>
					<i class="icon-star" id="rate4">&nbsp;</i>
					<i class="icon-star" id="rate5">&nbsp;</i>
				{% else %}
					{% trans "you need to be logged to rate pattern" %}
				{% endif %}
			</div>
			
			<hr />
			<div id="author">
				author: {{ bracelet.user.username }} <br/>
				<a href='/user/{{ bracelet.user.id }}'>See more from this author</a>
			</div>
			<hr />
			<div class="bracelet-data">
				<p><i class="icon-calendar" title="{% trans 'Created on' %}">&nbsp;</i> {{ bracelet.date }}</p>
				<p><span class="category category{{ bracelet.category.id }}" title="{% trans 'Category' %}">&nbsp;</span>
    	    		{% if bracelet.category.id == 1 %}
    	    			{% trans 'nature' %}
    	    		{% else %}
    	    			{% if bracelet.category.id == 2 %}
    	    				{% trans 'text' %}
    	    			{% else %}
    	    				{% if bracelet.category.id == 4 %}
    	    					{% trans 'zigzak' %}
    	    				{% else %}
    	    					{% trans 'another' %}
    	    				{% endif %}
    	    			{% endif %}
    	    		{% endif %}</p>
				<p><i class="icon-strings"  title="{% trans 'Number of strings' %}">&nbsp;</i> {{ bracelet.strings.all|length }}</p>
				<p><i class="icon-star2" title="{% trans 'Rate' %}">&nbsp;</i> {{ bracelet.rate }}</p>
				<p><i class="icon-difficulty{{ bracelet.difficulty}}" title="{% trans 'Difficulty' %}"> &nbsp;</i> {{ bracelet.difficulty }}</p>
			</div>
			
			<div class="fb-like" data-href="{{response.url}}" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>
			
			<p>{% trans 'Little hint' %}:</p>
			<div id="bracelet-howto">
				<img src="{{STATIC_URL}}gfx/knots.png" />
			</div>
		</div>
	</div>
	<div id="tabs-2">
		<div id="pattern-container" class="pattern-box" style="width:55%">
			<div id="step-pattern-canvas">
			</div>
			<div id="step-pattern">
			</div>
		</div>
		<div id="instructionbox">
			<div id="buttons">
				<button onclick="del5Knots()"><i class="icon-prev">&nbsp;</i> {% trans "Back 5" %}</button>
				<button onclick="delKnot()"><i class="icon-prev">&nbsp;</i> {% trans "Back" %}</button>
				<button onclick="addKnot()">{% trans "Next" %} <i class="icon-next">&nbsp;</i></button>
				<button onclick="add5Knots()">{% trans "Next 5" %} <i class="icon-next">&nbsp;</i></button>
				
			</div>
			<div id="instructions"></div>
		</div>
		<div style="clear:both"></div>
	</div>
	
	
	
</div>


{% endblock %}
