{% extends "template.html" %}
{% load i18n %}

{% block title %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/home.css" type="text/css">
<script language="Javascript" type="text/javascript">
function setColor(color, selectbox) {
	selectbox.style.background = ''+color+'';
}
function showSearchBox(hash) {
	if(hash != "search") {
		$('#search-form').parent().hide();
		$('#search-form').parent().next().hide();
	} else {
		$('#search-form').parent().show();
		$('#search-form').parent().next().show();
	}
}
$(document).ready(function(){
	$('.pattern').hover(function() {
		$('.pattern-details').hide();
		$('#pattern_info'+$(this).attr('id').substring(7)).show();
	});
	$('.pattern-box').hover(function() {}, function() {
		$('.pattern-details').hide();
	});
	
	showSearchBox(window.location.hash.substring(1))
	if ("onhashchange" in window) { 
        window.onhashchange = function () {
            showSearchBox(window.location.hash.substring(1));
        }
    } else { 
        var storedHash = window.location.hash;
        window.setInterval(function () {
            if (window.location.hash != storedHash) {
                storedHash = window.location.hash;
                showSearchBox(storedHash.substring(1));
            }
        }, 100);
    }
	$('#search-top').click(function(e) {
		if($('#search-form').is(':visible')) {
			$('#search-form').parent().slideUp();
			$('#search-form').parent().next().hide();
			window.location.hash = '';
		} else {
			$('#search-form').parent().slideDown();
			$('#search-form').parent().next().show();
			window.location.hash = '#search';
		}
		e.preventDefault();
	});
	
});

</script>
{% endblock %}

{% block content %}	
		<form action="search" method="get" id="search-form">
			<table>
				<tr>
					<td class="label">
						<label for="photo">{% trans "With photo" %}</label>
					</td>
					<td>
						<input type="checkbox" name="photo" value="photo" {% if photo %}checked="checked" {% endif %}/> 
					</td>
					<td class="label">{% trans "Difficulty" %}:</td>
					<td>
						<select name="difficulty">
							<option value="0">All</option>
							<option value="1" {% if difficulty == "1" %}selected="selected" {% endif %}>{% trans "Easy" %}</option>
							<option value="2" {% if difficulty == "2" %}selected="selected" {% endif %}>{% trans "Medium" %}</option>
							<option value="3" {% if difficulty == "3" %}selected="selected" {% endif %}>{% trans "Hard" %}</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="label">{% trans "Category" %}:</td>
					<td>
						<select name="category">
							<option value="0">{% trans "All" %}</option>
							{% if categories %}
								{% for c in categories %}
									<option {% if category == c.name %}selected="selected" {% endif %}>{{ c.name }}</option>
								{% endfor %}
							{% endif %}
						</select>
					</td>
					<td class="label">{% trans "Color" %}:</td>
					<td>
						<select name="color" onchange='setColor(this.options[this.selectedIndex].value, this)'>
							<option value="0">{% trans "All" %}</option>
							{% if colors %}
								{% for c in colors %}
									<option value="{{ c }}" style="background-color:{{ c }}" {% if c == color %}selected="selected" {% endif %} >         </option>
								{% endfor %}
							{% endif %}
						</select>
					</td>
				</tr>
				<tr>
					<td class="label">{% trans "Rated" %}:</td>
					<td>
						<select name="rate">
							<option value="0">All</option>
							<option value="1" {% if rate == "1" %}selected="selected" {% endif %}>{% trans "More than" %} *</option>
							<option value="2" {% if rate == "2" %}selected="selected" {% endif %}>{% trans "More than" %} **</option>
							<option value="3" {% if rate == "3" %}selected="selected" {% endif %}>{% trans "More than" %} ***</option>
							<option value="4" {% if rate == "4" %}selected="selected" {% endif %}>{% trans "More than" %} ****</option>
							<option value="5" {% if rate == "5" %}selected="selected" {% endif %}>*****</option>
						</select>
					</td>
					<td class="label">{% trans "Sort by" %}:</td>
					<td>
						<select name="orderby">
							<option value="0" {% if orderby == "0" %}selected="selected" {% endif %}>{% trans "Newest first" %}</option>
							<option value="1" {% if orderby == "1" %}selected="selected" {% endif %}>{% trans "Oldest first" %}</option>
							<option value="2" {% if orderby == "2" %}selected="selected" {% endif %}>{% trans "Highest rates first" %}</option>
							<option value="3" {% if orderby == "3" %}selected="selected" {% endif %}>{% trans "Lowest rates first" %}</option>
						</select>
					</td>
				</tr>
				<tr><td></td><td></td><td></td><td><input type="submit" value='{% trans "Search" %}' /></td></tr>
			</table>
		</form>
	</div>
	<div class="spacer"></div>
	<div class="box">
	<div id="add-pattern" class="add">
		{% if user.is_authenticated %}
			<a href="add"><i class="icon-plus">&nbsp;</i>{% trans "Add new pattern" %}</a>
		{% else %}
			{% trans "You need to be logged in to add new pattern" %}
		{% endif %}
	</div>

	<h1>
	{% if search %}
		{% trans "Results" %}
	{% else %}
		{% trans "Newest bracelets" %}
	{% endif %}
	</h1>
	<hr />
	{% if patterns %}
	    {% for bt in patterns.object_list %}
	    <div class="pattern-box">
	        <div class="pattern {% cycle 'pattern-odd' 'pattern-even' %}" id="pattern{{ bt.braceletid }}">
		        <a href="/bracelet/{{ bt.braceletid }}">
			        <div class="pattern-thumb">
				        <img src="{{ STATIC_URL }}bracelet_thumbs/{{ bt.photo }}" /></td></tr>
			        </div>
			        <div class="pattern-info">
			        	{% if bt.now %}
				    	    <i class="icon-new">&nbsp;</i>
				    		<br />
				    	{% endif %}
				    	<div title=
		    	    		{% if bt.category == 1 %}
		    	    			"{% trans 'nature' %}"
		    	    		{% else %}
		    	    			{% if bt.category == 2 %}
		    	    				"{% trans 'text' %}"
		    	    			{% else %}
		    	    				{% if bt.category == 4 %}
		    	    					"{% trans 'zigzak' %}"
		    	    				{% else %}
		    	    					"{% trans 'another' %}"
		    	    				{% endif %}
		    	    			{% endif %}
		    	    		{% endif %}
		    	    		 class="category category{{ bt.category }}">&nbsp;
		    	    	</div>
				    	<br />
		    	    	<i class="icon-strings" title="{% trans 'Number of strings' %}">&nbsp;</i> {{ bt.nofstrings }}
				    	<br />
		    	    	<i class="icon-star2" title="{% trans 'Rate' %}: {{ bt.average_rate }}">&nbsp;</i> {{ bt.short_rate }}
				    	<br />
		    	    	<i class="icon-difficulty{{ bt.difficulty}}" title="{% trans 'Difficulty' %}">&nbsp;</i>
			        </div>
				</a>
	        </div>
	        <div class="pattern-details" id="pattern_info{{ bt.braceletid }}" style="display:none">
		        <a href="/bracelet/{{ bt.braceletid }}">
				    <div class="darken">{{ bt.name }}</div>
				    <div class="darken" style="margin-top:48px">
				    	{% trans 'by' %}: {{ bt.author }} {% trans 'on' %}: {{ bt.date }}
				    </div>
				    <div class="darken">
			    		{% for c in bt.colors %}
		    	    		<div class="knot" style="background-color:{{c}};"></div>
		    	    	{% endfor %}
				    </div>
			    	    	
				</a>
			</div>
		</div>
	    {% endfor %}
	    <hr />
	    <div class="pagination">
			{% if patterns.has_previous %}
				<span class="prev">
	            	<i class="icon-prev">&nbsp;</i><a href="?page={{ patterns.previous_page_number }}{{ url }}"> {% trans "previous" %}</a>
	            </span>
	        {% endif %}
	
	        <span class="current">
	            {% trans "Page" %} {{ patterns.number }} {% trans "of" %} {{ patterns.paginator.num_pages }}		            
	        </span>
	
	        {% if patterns.has_next %}
		        <span class="next">
		            <a href="?page={{ patterns.next_page_number }}{{ url }}">{% trans "next" %} </a><i class="icon-next">&nbsp;</i>
	            </span>
	        {% endif %}
	    </div>
    {% else %}
    	{% trans "There is no patterns to show." %}
	{% endif %}
{% endblock %}