.div-form {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
.second {
	margin-left: 50px;
}
.color-chooser-button {
	width: 20px;
	height: 20px;
	background: none;
}
.modal-backdrop {
	background: none;
}
.modal {
	width: 600px;
}
.string0 {
	background: url('/static/gfx/pattern-strings-0.png');	
	width: 15px;
	height: 25px;
	display: inline-block;
	margin: -5px 1px 0 1px;
}
.string1 {
	background: url('/static/gfx/pattern-strings-1.png');	
	width: 15px;
	height: 25px;
	display: inline-block;
	margin: -5px 1px 0 1px;
}
.knot1 {
	background: url('/static/gfx/knot1.png');
}
.knot1-white {
	background: url('/static/gfx/knot1-w.png');
}

.knot2 {
	background: url('/static/gfx/knot2.png');
}
.knot2-white {
	background: url('/static/gfx/knot2-w.png');
}

.knot3 {
	background: url('/static/gfx/knot3.png');
}
.knot3-white {
	background: url('/static/gfx/knot3-w.png');
}

.knot4 {
	background: url('/static/gfx/knot4.png');
}
.knot4-white {
	background: url('/static/gfx/knot4-w.png');
}

.knot-thumb {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 6px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 0px 6px 0px #000;
	width: 12px;
	height: 10px;
	display: inline-block;
}
.knot {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 6px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 0px 6px 0px #000;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0 7px;
}
.odd {
	margin-left:20px;
}
.column-margin {
	margin-top:8px;
}
.column-odd {
	width:10px;
	vertical-align: top;
	display:inline-block;
}
.column-even {
	width:10px;
	vertical-align: top;
	display:inline-block;
}
#pattern-string, #pattern-colors {
	display: none;
}
#colorsInput select {
	width: 50px;
	margin: 1px;
}
.pattern-tool {
	background-color: whiteSmoke;
	padding: 2px;
	margin-bottom: 10px;
}
.pattern-tool-inside {
	border: 1px dashed #E5E5E5;
	padding: 4px;
}
#floating-top {
	position: relative;
	z-index: 100;
	margin-top: 10px;
}
.pattern-tool-inside div, #colorsInput {
	display: inline-block;
	vertical-align: top;
}
#floating-top div#pattern-thumb {
	display: block;
}
#pattern-container {
	position: relative;
	margin:30px 0;
}
#pattern-designer {
	z-index:3;
	position: relative;
	margin-top:15px;
}
#pattern-canvas {
	position: absolute;
	z-index:2;
	top: -10px;
	left: 0px;
}
.btn-group {
	display: inline-block;
}
#pattern-designer .current {
	border: 1px solid black;
	-webkit-box-shadow: 0 0 5px 2px #000;
	box-shadow: 0 0 5px 2px #000;
}
