/* -------------------------------- RESET -------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -------------------------------- FONTS -------------------------------- */
@font-face {
    font-family: 'CantarellBold';
    src: url('/static/fonts/cantarell/cantarell-bold-webfont.eot');
    src: url('/static/fonts/cantarell/cantarell-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/cantarell/cantarell-bold-webfont.woff') format('woff'),
         url('/static/fonts/cantarell/cantarell-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/cantarell/cantarell-bold-webfont.svg#CantarellBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CantarellRegular';
    src: url('/static/fonts/cantarell/cantarell-regular-webfont.eot');
    src: url('/static/fonts/cantarell/cantarell-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/cantarell/cantarell-regular-webfont.woff') format('woff'),
         url('/static/fonts/cantarell/cantarell-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/cantarell/cantarell-regular-webfont.svg#CantarellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansBold';
    src: url('/static/fonts/pt-sans/pt_sans-web-bold-webfont.eot');
    src: url('/static/fonts/pt-sans/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/pt-sans/pt_sans-web-bold-webfont.woff') format('woff'),
         url('/static/fonts/pt-sans/pt_sans-web-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/pt-sans/pt_sans-web-bold-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AlteHaasGroteskBold';
    src: url('/static/fonts/altehaas/altehaasgroteskbold-webfont.eot');
    src: url('/static/fonts/altehaas/altehaasgroteskbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/altehaas/altehaasgroteskbold-webfont.woff') format('woff'),
         url('/static/fonts/altehaas/altehaasgroteskbold-webfont.ttf') format('truetype'),
         url('/static/fonts/altehaas/altehaasgroteskbold-webfont.svg#AlteHaasGroteskBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuBold';
    src: url('/static/fonts/ubuntu/ubuntu-b-webfont.eot');
    src: url('/static/fonts/ubuntu/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ubuntu/ubuntu-b-webfont.woff') format('woff'),
         url('/static/fonts/ubuntu/ubuntu-b-webfont.ttf') format('truetype'),
         url('/static/fonts/ubuntu/ubuntu-b-webfont.svg#UbuntuBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuBoldItalic';
    src: url('/static/fonts/ubuntu/ubuntu-bi-webfont.eot');
    src: url('/static/fonts/ubuntu/ubuntu-bi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ubuntu/ubuntu-bi-webfont.woff') format('woff'),
         url('/static/fonts/ubuntu/ubuntu-bi-webfont.ttf') format('truetype'),
         url('/static/fonts/ubuntu/ubuntu-bi-webfont.svg#UbuntuBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuCondensedRegular';
    src: url('/static/fonts/ubuntu/ubuntu-c-webfont.eot');
    src: url('/static/fonts/ubuntu/ubuntu-c-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ubuntu/ubuntu-c-webfont.woff') format('woff'),
         url('/static/fonts/ubuntu/ubuntu-c-webfont.ttf') format('truetype'),
         url('/static/fonts/ubuntu/ubuntu-c-webfont.svg#UbuntuCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuLightBold';
    src: url('/static/fonts/ubuntu/ubuntu-m-webfont.eot');
    src: url('/static/fonts/ubuntu/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ubuntu/ubuntu-m-webfont.woff') format('woff'),
         url('/static/fonts/ubuntu/ubuntu-m-webfont.ttf') format('truetype'),
         url('/static/fonts/ubuntu/ubuntu-m-webfont.svg#UbuntuLightBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuLightBoldItalic';
    src: url('/static/fonts/ubuntu/ubuntu-mi-webfont.eot');
    src: url('/static/fonts/ubuntu/ubuntu-mi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ubuntu/ubuntu-mi-webfont.woff') format('woff'),
         url('/static/fonts/ubuntu/ubuntu-mi-webfont.ttf') format('truetype'),
         url('/static/fonts/ubuntu/ubuntu-mi-webfont.svg#UbuntuLightBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuRegular';
    src: url('/static/fonts/ubuntu/ubuntu-r-webfont.eot');
    src: url('/static/fonts/ubuntu/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ubuntu/ubuntu-r-webfont.woff') format('woff'),
         url('/static/fonts/ubuntu/ubuntu-r-webfont.ttf') format('truetype'),
         url('/static/fonts/ubuntu/ubuntu-r-webfont.svg#UbuntuRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuItalic';
    src: url('/static/fonts/ubuntu/ubuntu-ri-webfont.eot');
    src: url('/static/fonts/ubuntu/ubuntu-ri-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/ubuntu/ubuntu-ri-webfont.woff') format('woff'),
         url('/static/fonts/ubuntu/ubuntu-ri-webfont.ttf') format('truetype'),
         url('/static/fonts/ubuntu/ubuntu-ri-webfont.svg#UbuntuItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('/static/fonts/pt-sans/PTN57F-webfont.eot');
    src: url('/static/fonts/pt-sans/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/pt-sans/PTN57F-webfont.woff') format('woff'),
         url('/static/fonts/pt-sans/PTN57F-webfont.ttf') format('truetype'),
         url('/static/fonts/pt-sans/PTN57F-webfont.svg#PTSansNarrowRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('/static/fonts/pt-sans/PTC75F-webfont.eot');
    src: url('/static/fonts/pt-sans/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/pt-sans/PTC75F-webfont.woff') format('woff'),
         url('/static/fonts/pt-sans/PTC75F-webfont.ttf') format('truetype'),
         url('/static/fonts/pt-sans/PTC75F-webfont.svg#PTSansCaptionBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PTSansCaptionRegular';
    src: url('/static/fonts/pt-sans/PTC55F-webfont.eot');
    src: url('/static/fonts/pt-sans/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/pt-sans/PTC55F-webfont.woff') format('woff'),
         url('/static/fonts/pt-sans/PTC55F-webfont.ttf') format('truetype'),
         url('/static/fonts/pt-sans/PTC55F-webfont.svg#PTSansCaptionRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('/static/fonts/pt-sans/PTS76F-webfont.eot');
    src: url('/static/fonts/pt-sans/PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/pt-sans/PTS76F-webfont.woff') format('woff'),
         url('/static/fonts/pt-sans/PTS76F-webfont.ttf') format('truetype'),
         url('/static/fonts/pt-sans/PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansBold';
    src: url('/static/fonts/pt-sans/PTS75F-webfont.eot');
    src: url('/static/fonts/pt-sans/PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/pt-sans/PTS75F-webfont.woff') format('woff'),
         url('/static/fonts/pt-sans/PTS75F-webfont.ttf') format('truetype'),
         url('/static/fonts/pt-sans/PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansItalic';
    src: url('/static/fonts/pt-sans/PTS56F-webfont.eot');
    src: url('/static/fonts/pt-sans/PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/pt-sans/PTS56F-webfont.woff') format('woff'),
         url('/static/fonts/pt-sans/PTS56F-webfont.ttf') format('truetype'),
         url('/static/fonts/pt-sans/PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansRegular';
    src: url('/static/fonts/pt-sans/PTS55F-webfont.eot');
    src: url('/static/fonts/pt-sans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/pt-sans/PTS55F-webfont.woff') format('woff'),
         url('/static/fonts/pt-sans/PTS55F-webfont.ttf') format('truetype'),
         url('/static/fonts/pt-sans/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansNarrowBold';
    src: url('/static/fonts/pt-sans/PTN77F-webfont.eot');
    src: url('/static/fonts/pt-sans/PTN77F-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/pt-sans/PTN77F-webfont.woff') format('woff'),
         url('/static/fonts/pt-sans/PTN77F-webfont.ttf') format('truetype'),
         url('/static/fonts/pt-sans/PTN77F-webfont.svg#PTSansNarrowBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* -------------------------------- COMMON -------------------------------- */
h1, h2, h3, h4, h5 {
	font-family: "AlteHaasGroteskBold" sans;
}
hr {
	margin: 5px 0 18px 0;
	border: 0;
	border-top: 1px solid #127ea6;
	border-bottom: 1px solid #004e76;
	width: 100%;
}
a {
	color: #004e76;
}
.pull-right {float: right;}
.pull-left {float: left;}
/* -------------------------------- BODY -------------------------------- */
body {
	background-image: url(/static/gfx/bg.png);
	margin:0;
	font-family: "PTSansRegular" sans;
}
#fb, #en {
	width:  29px;
	height: 30px;
	position: fixed;
	right: 0;
	-webkit-box-shadow: 0 0 5px 0 #222;
	box-shadow:		 0 0 5px 0 #222;
}
	#fb a, #en a {
		padding: 0 20px 10px;
		text-decoration: none;
	}
#fb {
	top: 200px;
	background-image: url(/static/gfx/fb.png);
}
#en {
	top: 235px;
	background-image: url(/static/gfx/english.png);
}
/* -------------------------------- TOP -------------------------------- */
#top {
	margin: 0 auto;
	width: 1000px;
}
	#top h1 {
		display: inline-block;
		background: url(/static/gfx/ohiboka.png) no-repeat;
		width:278px;
		height:111px;
		margin: 10px 0 20px;
	}
ul#menu {	
	list-style-type: none;
	float: right;
	margin-top: 50px;
	font: 14px "UbuntuRegular";
	color: white;
}

	ul#menu li {
		display: inline-block;
		margin: 0 10px;
		vertical-align: middle;
	}
	ul#menu li a {
		color: white;
		text-decoration: none;
	}
	ul#menu li.active a {
		background: transparent url('/static/gfx/button-p.png') no-repeat scroll top right;
		display: block;
		float: left;
		height: 28px;
		padding-right: 10px; /* sliding doors padding */
	}
	ul#menu li.active a span  {
	    background: transparent url('/static/gfx/button-span.png') no-repeat;
	    display: block;
	    line-height: 18px;
	    padding: 5px 5px 5px 18px;
	}
/* -------------------------------- LOGIN -------------------------------- */
#login-box {
	background: url('/static/gfx/or.png') center center no-repeat #f8f8f7;
}
#login-form {
	display:inline-block;
	width: 45%;
}
.facebook_login:after {
	content: ".";
    visibility: hidden;
}
.facebook_login {
	display:inline-block;
	width: 45%;
	text-align: right;
	margin: 0;
	line-height: 75px;
}
.facebook_login button {
	width: 154px;
	height: 22px;
	background: url('/static/gfx/login-fb.jpg') no-repeat;
	border: 0;
	vertical-align: middle;
}
/* -------------------------------- CONTAINER -------------------------------- */
#container {
	margin: 40px 0;
	width: 100%;
	background-image: url(/static/gfx/fabric-white.png);
	background-repeat: repeat;
	-moz-box-shadow:	inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:		 inset 0 0 10px #000000;
}

#container:before, #container:after {
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
		font-size: 0;
}
#content {
	margin: -40px auto;
	width: 1000px;
}
.box {
	background-color: #f8f8f7;
	padding: 15px;
	-webkit-box-shadow: 0 0 15px 0 #222;
	box-shadow:		 0 0 15px 0 #222;
}
	.box p {
		margin: 0;
	}
/* -------------------------------- BOTTOM -------------------------------- */
#bottom {
	color: white;
	font-size: smaller;
	margin: 50px auto 0;
	width: 1000px;
}

.spacer {margin:20px;}

/* -------------------------------- STITCHES -------------------------------- */
.stitches {
	width: 100%;
	height: 4px;
	position: relative;
	border-top:2px;
	-moz-border-image:url(/static/gfx/border.png) 100% 1 repeat; /* Firefox */
	-webkit-border-image:url(/static/gfx/border.png) 100% 1 repeat; /* Safari */
	-o-border-image:url(/static/gfx/border.png) 100% 1 repeat; /* Opera */
	border-image:url(/static/gfx/border.png) 100% 2 repeat;
	z-index: -1;
	
	border-bottom:0;
	border-right:0;
	border-left:0;
}
.stitches-top1 { margin-top: 4px;}
.stitches-top2 { margin-top: -8px;}
.stitches-bottom1 { margin-top: -36px;position:relative;}
.stitches-bottom2 { position:absolute; bottom:4px;}

/* -------------------------------- ICONS -------------------------------- */
.icon-prev {
	background: url('/static/gfx/icons.png');
	padding: 0 13px 0 0;
	font-size: 13px;
}
.icon-next {
	background: url('/static/gfx/icons.png') -15px 0;
	padding: 0 13px 0 0;
	font-size: 13px;
}
.icon-star {
	background: url('/static/gfx/icons.png') -15px -15px;
	padding: 0 13px 0 0;
	font-size: 11px;
}
.icon-star2 {
	background: url('/static/gfx/icons.png') 0 -15px;
	padding: 0 13px 0 0;
	font-size: 11px;
}
.icon-strings {
	background: url('/static/gfx/icons.png') -85px -71px;
	padding: 0 13px 0 0;
	font-size: 11px;
}
.icon-difficulty1 {
	background: url('/static/gfx/icons.png') -40px -71px;
	padding: 0 10px 0 0;
	font-size: 13px;
}
.icon-difficulty2 {
	background: url('/static/gfx/icons.png') -55px -71px;
	padding: 0 10px 0 0;
	font-size: 13px;
}
.icon-difficulty3 {
	background: url('/static/gfx/icons.png') -70px -71px;
	padding: 0 10px 0 0;
	font-size: 13px;
}
.icon-new {
	background: url('/static/gfx/icons.png') 0 -87px;
	padding: 0 10px 0 0;
	font-size: 13px;
}