#tabs ul {
	display:inline-block;
	margin:-7px 0 0 20px;
}
#tabs h2 {
	display: inline-block;
	vertical-align: top;
	font-size:110%;
}
.ui-tabs {
	position: relative;
	padding: 0;
	zoom: 1;
}
/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 1px;
	padding: 0;
	white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em;
	margin-bottom:-4px;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 0;
}

/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

/* nieaktywne taby */
.ui-state-default {
	font-weight: normal;
}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
	color: #127EA6;
	text-decoration: none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus {
}

.ui-state-hover a,.ui-state-hover a:hover {
	text-decoration: none;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: inset 1px 1px 4px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: inset 1px 1px 4px 0px #000;
    background-color: #f3f3f3;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: #004E76;
	text-decoration: none;
}

.ui-widget :active {
	outline: none;
}


.ui-widget-content {
}


.ui-widget-header {
	border: 1px solid #aaaaaa;
	color: #222222;
	font-weight: bold;
}


.ui-corner-all, .ui-corner-top {

}
#pattern-container {
	display: inline-block;
	width: 67%;
}
.pattern-box {
	position:relative;	
	z-index:1;
	vertical-align: top; 
}
#pattern, #step-pattern {
	position:relative;
	z-index:3;
	padding-top: 14px;
}
#pattern-canvas, #step-pattern-canvas {
	position: absolute;
	z-index:2;
	top: 5px;
	left:0;
}

.knot {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 6px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 0px 6px 0px #000;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0 7px;
}

.odd {
	margin-left: 17px;
}

.even {
	
}

.oddstring {
	margin-right: 5px;
}

.evenstring {
	margin-right: 16px;
}

.knot1 {
	background: url('/static/gfx/knot1.png');
}
.knot1-white {
	background: url('/static/gfx/knot1-w.png');
}

.knot2 {
	background: url('/static/gfx/knot2.png');
}
.knot2-white {
	background: url('/static/gfx/knot2-w.png');
}

.knot3 {
	background: url('/static/gfx/knot3.png');
}
.knot3-white {
	background: url('/static/gfx/knot3-w.png');
}

.knot4 {
	background: url('/static/gfx/knot4.png');
}
.knot4-white {
	background: url('/static/gfx/knot4-w.png');
}

.knot-thumb {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 6px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 0px 6px 0px #000;
	width: 12px;
	height: 10px;
	display: inline-block;
}
.column-margin {
	margin-top:8px;
}
.column-odd {
	width:10px;
	vertical-align: top;
	display:inline-block;
}
.column-even {
	width:10px;
	vertical-align: top;
	display:inline-block;
}
.string0 {
	background: url('/static/gfx/pattern-strings-0.png');	
	width: 15px;
	height: 25px;
	display: inline-block;
	margin: -5px 1px 0 1px;
}
.string1 {
	background: url('/static/gfx/pattern-strings-1.png');	
	width: 15px;
	height: 25px;
	display: inline-block;
	margin: -5px 1px 0 1px;
}
#tabs-name {
	margin-bottom: 5px;
}

#bracelet-extras {
	display:inline-block;
	width: 30%;
	vertical-align: top;
	color: #3a3a33;
	background-color: #d2e5eb;
	padding: 10px;
	-webkit-box-shadow: 0 0 5px 0 #222;
	box-shadow: 0 0 5px 0 #222;
}
.bracelet-data {
	line-height: 1.5em;
}
.fb-like {
	margin: 15px 0;
}
#ratepattern {
	margin-bottom: 15px;
}
#bracelet-extras #author {
	height: 50px;
	background: url('/static/gfx/user.png') no-repeat;
	margin: 10px 0;
	padding: 15px 0 5px 50px;
}
.bracelet-data p i {
	vertical-align: top;
}
#instructionbox {
	width: 40%;
	display: inline-block;
	margin-left: 10px;
	vertical-align: bottom;
}
#instructions {
	height: 400px;
	overflow:auto;	
}
#instructions p {
	margin: 5px 0;
}
#instructions span {
	vertical-align: middle;

}
#buttons {
	text-align: center;
	margin-top: 10px;
}
#buttons button {
	padding: 2px;
}
.category {
	border:0;
	display: inline-block;
	width: 20px;
	height:20px;
	background-image: url('/static/gfx/icons.png');
	background-repeat:no-repeat;
	vertical-align: middle;
}
.category1 {
	background-position: 0 -51px;
}
.category2 {
	background-position: -20px -51px;
}
.category4 {
	background-position: -40px -51px;
}
.category3 {
	background-position: -60px -51px;
}

.photo {
	display: inline-block;
	width: 132px;
	height: 126px;
	padding: 2px;
	vertical-align: top;
	margin: 3px;
	overflow: hidden;
	text-align: center;
}

.photo div {
	height: 100px;
}
.photo p {
	height: 26px;
	vertical-align: bottom;
}
#photoAdd {
	padding: 0 0 20px 10px;	
}
#photoAdd input[type="submit"] {
	padding: 1px 7px;
}
.comment_start {
	padding-top: 20px;
}
.comment h4 {
	font-weight: normal;
	margin-bottom: 5px;
}
.comment hr {
	border: 0;
	border-top: 1px solid #329ec6;
	border-bottom: 1px solid #547999;
	margin: 10px 0;
}
.comment-user {
	font-weight: bold;
}
.comment-time {
	float:right;
}
#comment-input {
	width: 500px;
	height: 20px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#commentbox {
	display:none;
}
#commentbox td {
	padding-right:5px;
	vertical-align: top;
}
#commentbox input[type="text"], #commentbox textarea  {
	width:100%;
	border:1px solid #329ec6;
}
#commentbox input[type="submit"] {
	width:50%;
}
div.posterror {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #D11717;
	color: #AD1A1A;
	font-weight: bold;
	background: rgba(255, 255, 255, 0.4);
}
/* Layout helpers */

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:before,.ui-helper-clearfix:after {
	content: "";
	display: table;
}

.ui-helper-clearfix:after {
	clear: both;
}
