*{  
   margin:0;  
   padding:0;  
}  
a:hover {
	text-decoration: underline;
}
a {
	text-decoration: none;
	color: white;
}
html {
	height:100%;
	margin: 0;
	padding: 0;
}
body {
	background: url('/static/gfx/bg.png');
	margin: 0;
	padding: 0;
	color: white;
	width: 100%;
	text-align: center;
	font-family: sans;
	font-size: 14px;   
	height:100%;
}
h2 {
	padding-left: 10px;
}
#box {
	width:980px;
	text-align: left;
	margin: 0 auto;
	min-height:100%;
	position:relative;
}
#top {
	background: url('/static/gfx/top.png') no-repeat;
	width: 664px;
	height: 236px;
	margin: 0 0 0 70px;
	float: left;
}
#top a {
	padding: 0 650px 200px 0;
}
#top a:hover {
	text-decoration: none;
}
#preferences {
	border: 1px solid #127ea6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-top: none;
	background-color: rgba(8,86,135,0.3);
	float: right;
	width: 216px;
	text-align: right;
	padding: 10px;
	margin-top:-3px;
	margin-bottom:10px;
}
#languages a{
	text-decoration: none;
}
#login {
	margin-top: 15px;
	text-align: right;
}
#login input[type='submit'] {
	width: 150px;
	background: none; 
	border:none;
	border-bottom: 1px solid white;
	color: white;
	font-family: sans;
	padding: 2px 0;
	margin-bottom: 5px;
}
#login input[type='text'], #login input[type='password'] {
	border:none;
	border-bottom: 1px solid white;
	background: none; 
	color: white;
}
div.login, div#languages, #login input[type='button'], #login label {
	font-size: 13px;
	font-family: sans;
	padding-bottom: 5px;
}
#login input[type='button']:hover {
	text-decoration: underline;
}
#loginform {
	text-align: left;
}
#content {
	padding-bottom:140px;
	clear:both;
}
#footer {
	width: 100%;
	background: url('/static/gfx/ft.png') no-repeat 100px 0;
	height: 140px;
	position:absolute;
	bottom:0; 
}
#footer p {
	padding: 70px 0 0 390px;
	color: #4cb6dc;
}
.errors {
	font-size: small;
	color: #ee4343;
}
#loginButton.hidelogin {
	background:url('/static/gfx/unfold.png') no-repeat;
	border: 0;
	color: #fff;
}
#loginButton.showlogin {
	background:url('/static/gfx/fold.png') no-repeat;
	border: 0;
	color: #fff;
}
#loginform.hidelogin {
	display:none;
}
#loginform.showlogin {
	display:inline-block;
}