#left {
	width: 100%; /*740px;*/
}
div.pattern-box {
	position: relative;
	display: inline-block;
	margin: 2px 7px 18px 7px;
    width: 302px;
	-webkit-box-shadow: 0px 0px 6px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    box-shadow: 0px 0px 6px 0px #000;
}
div.pattern {
	padding: 2px;
	vertical-align: top;
}
div.pattern a {
	text-decoration: none;	
}
div.pattern-info { 
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 34px;
	vertical-align: top;
	font-size: 80%;
	overflow: hidden;
	line-height: 20px;
}

.pattern-thumb {
	display: inline-block;
	height: 100px;
	width: 260px;
	background-color: rgba(38,116,165,0.2);
}
div.pattern-details {
	position: absolute;
	top: 0;
	left: 0;
	width: 87%;
}
.darken {
	background-color: rgba(0,0,0,0.6);
	padding: 2px;
	color: white;
}
#left h2 {
	font-size: 19px;
}
#search-form select {
	width: 100%;
}
#search-form input[type="submit"] {
	padding: 3px 10px;
}
#search-form td {
	width: 150px;
	padding: 3px 8px;
}
#search-form td.label {
	width: 100px;
}
.add {
	margin-top: -15px;
	padding: 4px;
	float: right;
	background-color: rgba(38,116,165,0.2);
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px solid #329ec6;
	border-top: 0;
	color: #004e76;
}
.category {
	display: inline-block;
	width: 20px;
}
.category {
	border:0;
	display: inline-block;
	width: 20px;
	height:20px;
	background-image: url('/static/gfx/icons.png');
	background-repeat:no-repeat;
	vertical-align: middle;
}
.category1 {
	background-position: 0 -51px;
}
.category2 {
	background-position: -20px -51px;
}
.category4 {
	background-position: -40px -51px;
}
.category3 {
	background-position: -60px -51px;
}
.knot {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 -1px;
	vertical-align: middle;
}
.pagination {
	margin-right: 45px;
	text-align: center;
}
.prev {
	float: left;
}
.next {
	float: right;
}
.icon-plus {
	background: url('/static/gfx/icons.png') -46px -15px;
	padding: 0 10px 0 0;
	font-size: 13px;
}
.icon-prev {
	background: url('/static/gfx/icons.png') -76px -15px;
	padding: 0 10px 0 0;
	font-size: 13px;
}
.icon-next {
	background: url('/static/gfx/icons.png') -92px -15px;
	padding: 0 10px 0 0;
	font-size: 13px;
}
