{% load i18n %}
{% load comments %}

<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
	$('#commentbox form').submit(function(e) {
	  e.preventDefault();
	  return false;
	});
	
	$('#submit_comment').click(function(e) {
		  e.preventDefault();
		
		  $.post("/comments/post/", $('#commentbox form').serialize(), function(data) {
		  	if(data == 1) {
				  var el = $('<div class="comment"><h4><span class="comment-user"></span> <span class="comment-time">{% trans "now" %}</span></h4></div>');
		   		  $('.comment_start').after(el);
				  $('.comment-user', el).html($('.login span').html());
				  el.append($('#id_comment').val());
				  el.append($('<hr />'));
		   		  $("#commentbox").hide();
		   		  $('.posterror').remove();
			 } else {
	  			$('.comment_start').after($('<div class="posterror">{% trans "Unexpected error occured. Try reload page or try again later." %}</div>'));
			 }
			 
	  	  });
	  return false;
	});
	$('#comment-form-username').val($('.login span').html());
});
//]]>
</script>

{% get_comment_count for bracelet.bracelet bracelet_id as comment_count %}
<p>{{ comment_count }} {% trans "comments have been posted." %}</p>

{% get_comment_form for bracelet.bracelet bracelet_id as form %}
<!-- A context variable called form is created with the necessary hidden
fields, timestamps and security hashes -->
{% if user.is_authenticated %}
	<table id="commentbox">
	  <form action="/comments/post/" method="post">
	    <tr><td colspan="3">{{ form.non_field_errors }}</td></tr>
	    <tr><td colspan="3">{% csrf_token %}</td></tr>
	    {% for field in form %}
	            {% if field.is_hidden %}
	                {{ field }}
	            {% endif %}
	    {% endfor %}
    	<input type='hidden' name='name' id='comment-form-username' value='{{ userprofile.fb_name }}' />
	    <tr><td>{{ form.comment.label_tag }} </td><td>{{ form.comment }}</td><td>{{ form.comment.errors }}</td></tr>
	    <tr><td>Do not fill this</td><td>{{ form.honeypot }}</td><td>{{ form.honeypot.errors }}</td></tr>
	    <tr><td></td>
	      <td colspan="2">
	        <input id="submit_comment" type="submit" name="submit" value="{% trans 'Post' %}">
	      </td>
	    </tr>
	  </form>
	</table>
{% endif %}

{% render_comment_list for bracelet.bracelet bracelet_id %}
